@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    string cultureCode = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    string direction = cultureCode.StartsWith("ar", StringComparison.OrdinalIgnoreCase) ? "rtl" : "ltr";
    string textAlign = direction == "rtl" ? "right" : "left";
}

<div class="loginLogo">
    <div class="modal-dialog modal-dialog-centered" role="document" style="direction:@direction">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="restModalLabel">
                    @Localizer["ResetPassword"]
                </h1>
            </div>

            <div class="modal-body">
                <form class="form-contain" method="POST">
                    <div class="form-group" style="text-align:@textAlign">
                        <label for="">
                            @Localizer["Email"]
                        </label>

                        <div class="form-data h-auto">
                            <input asp-for="Input.Email" class="form-control forget-input"
                                   autocomplete="username" placeholder="@Localizer["EnterYourEmail"]" aria-required="true" />
                        </div>
                    </div>

                    <button type="submit" class="custom-btn mb-3">
                        <span>
                            @Localizer["ResetPassword"]
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



