@page
@model ResetPasswordModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    string cultureCode = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    string direction = cultureCode.StartsWith("ar", StringComparison.OrdinalIgnoreCase) ? "rtl" : "ltr";
    string textAlign = direction == "rtl" ? "right" : "left";
}

<div style="margin-top:100px" class="loginLogo">
    <div class="modal-dialog modal-dialog-centered" role="document" style="direction:@direction">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="restModalLabel">
                    @Localizer["Reset Password"]
                </h1>
            </div>
            <div class="modal-body">
                <form class="form-contain" method="POST">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Input.Code" type="hidden" />
                        <div class="form-floating">
                            <label asp-for="Input.Email" class="form-label"></label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <label asp-for="Input.Password" class="form-label"></label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <Br />
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    .form-label {
        color: #5F7AE7;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
    }
</style>