@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    string cultureCode = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    string direction = cultureCode.StartsWith("ar", StringComparison.OrdinalIgnoreCase) ? "rtl" : "ltr";
    string textAlign = direction == "rtl" ? "right" : "left";
    bool isEng = cultureCode.StartsWith("en", StringComparison.OrdinalIgnoreCase) ? true : false;
    string closeButtonValue = isEng ? "0" : "1%";
}

@model List<MaidLinker.Data.Entites.Feedback>

<head>
    <!-- Custom styles for this template -->
    <link href="~/css/sb-admin-2.css" rel="stylesheet" />
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<div id="page-top" class="mt-5">
    <div id="wrapper">
        <!-- Sidebar -->
        @Html.Partial("_Sidebar")

        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content" style="background-color:lavender">
                <!-- Begin Page Content -->
                <div class="container-fluid mt-5">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h6 style="font-weight:bold;color:#5F7AE7" class="h6 mb-0">
                            <i class="fas fa-comments"></i> @Localizer["FeedbacksTitle"]
                        </h6>
                        @Html.Partial("_Userbar")
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <!-- Card Body -->
                                <div class="card-body" style="max-height: 768px; overflow-y: auto;">
                                    <br />
                                    <div class="table-responsive" id="dataTableContainer">
                                        @Html.Partial("FeedbacksList", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- /.container-fluid -->
            </div> <!-- /#content -->
        </div> <!-- /#content-wrapper -->
    </div> <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Example: Hide success message after 3 seconds
            setTimeout(function () {
                $('.alert-success').fadeOut();
            }, 3000);

            // Example AJAX call for adding user services, adapt as needed
            $('#add-UserServices').click(function () {
                var userServices = {
                    TitleAr: $('#titleArInput').val(),
                    TitleEn: $('#titleEnInput').val(),
                    IsActive: true,
                };

                $.ajax({
                    url: '/Admin/AddUserServices', // Replace with your actual API endpoint URL
                    type: 'POST',
                    data: JSON.stringify(userServices),
                    contentType: 'application/json',
                    success: function (response) {
                        $('.alert-success').removeClass('hidden').hide().fadeIn();
                        $("#close-add-UserServices").trigger("click");
                        $('#dataTableContainer').load('/Admin/GetUserServices');

                        setTimeout(function () {
                            $('.alert-success').fadeOut();
                        }, 3000);
                    },
                    error: function (xhr, status, error) {
                        $('.alert-danger').removeClass('hidden');
                        var msg = xhr.responseText;
                        $('#error-msg-add').text(msg.toString());

                        setTimeout(function () {
                            $('.alert-danger').addClass('hidden');
                        }, 5000);
                    }
                });
            });
        });
    </script>
}
